				@font-face {
					font-family: 'barcelonyclass';
					src: url('7716BarcelonyClass.woff2') format('woff2'),
						url('7716BarcelonyClass.woff') format('woff');
					  font-display: auto;
				}

				.barcelonyclass{font-family: 'barcelonyclass' !important;}

						@font-face {
					font-family: 'gallient';
					src: url('1687Gallient.woff2') format('woff2'),
						url('1687Gallient.woff') format('woff');
					  font-display: auto;
				}

				.gallient{font-family: 'gallient' !important;}

						@font-face {
					font-family: 'bacalisties';
					src: url('9968Bacalisties.woff2') format('woff2'),
						url('9968Bacalisties.woff') format('woff');
					  font-display: auto;
				}

				.bacalisties{font-family: 'bacalisties' !important;}

						@font-face {
					font-family: 'better-grade';
					src: url('2017Better-grade.woff2') format('woff2'),
						url('2017Better-grade.woff') format('woff');
					  font-display: auto;
				}

				.better-grade{font-family: 'better-grade' !important;}

						@font-face {
					font-family: 'olivia';
					src: url('6948Olivia.woff2') format('woff2'),
						url('6948Olivia.woff') format('woff');
					  font-display: auto;
				}

				.olivia{font-family: 'olivia' !important;}

						@font-face {
					font-family: 'rolasan';
					src: url('6351Rolasan.woff2') format('woff2'),
						url('6351Rolasan.woff') format('woff');
					  font-display: auto;
				}

				.rolasan{font-family: 'rolasan' !important;}

						@font-face {
					font-family: 'boheme';
					src: url('7097Boheme.woff2') format('woff2'),
						url('7097Boheme.woff') format('woff');
					  font-display: auto;
				}

				.boheme{font-family: 'boheme' !important;}

						@font-face {
					font-family: 'afterglow';
					src: url('2224Afterglow.woff2') format('woff2'),
						url('2224Afterglow.woff') format('woff');
					  font-display: auto;
				}

				.afterglow{font-family: 'afterglow' !important;}

						@font-face {
					font-family: 'authentic';
					src: url('2704Authentic.woff2') format('woff2'),
						url('2704Authentic.woff') format('woff');
					  font-display: auto;
				}

				.authentic{font-family: 'authentic' !important;}

						@font-face {
					font-family: 'edensor';
					src: url('8449Edensor.woff2') format('woff2'),
						url('8449Edensor.woff') format('woff');
					  font-display: auto;
				}

				.edensor{font-family: 'edensor' !important;}

						@font-face {
					font-family: 'winter-caligraphy';
					src: url('714Winter-Caligraphy.woff2') format('woff2'),
						url('714Winter-Caligraphy.woff') format('woff');
					  font-display: auto;
				}

				.winter-caligraphy{font-family: 'winter-caligraphy' !important;}

						@font-face {
					font-family: 'collina';
					src: url('2524Collina.woff2') format('woff2'),
						url('2524Collina.woff') format('woff');
					  font-display: auto;
				}

				.collina{font-family: 'collina' !important;}

						@font-face {
					font-family: 'auto-siganture';
					src: url('3628Auto-siganture.woff2') format('woff2'),
						url('3628Auto-siganture.woff') format('woff');
					  font-display: auto;
				}

				.auto-siganture{font-family: 'auto-siganture' !important;}

						@font-face {
					font-family: 'cartis';
					src: url('4687Cartis.woff2') format('woff2'),
						url('4687Cartis.woff') format('woff');
					  font-display: auto;
				}

				.cartis{font-family: 'cartis' !important;}

						@font-face {
					font-family: 'bellany';
					src: url('4398Bellany.woff2') format('woff2'),
						url('4398Bellany.woff') format('woff');
					  font-display: auto;
				}

				.bellany{font-family: 'bellany' !important;}

						@font-face {
					font-family: 'month-glade';
					src: url('3952Month-glade.woff2') format('woff2'),
						url('3952Month-glade.woff') format('woff');
					  font-display: auto;
				}

				.month-glade{font-family: 'month-glade' !important;}

						@font-face {
					font-family: 'soligant';
					src: url('4768Soligant.woff2') format('woff2'),
						url('4768Soligant.woff') format('woff');
					  font-display: auto;
				}

				.soligant{font-family: 'soligant' !important;}

		